<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cooking with Code</title>
    <link rel="stylesheet" href="/assets/css/style.css" />
    <link
      href="https://fonts.googleapis.com/css2?family=Aref+Ruqaa+Ink&family=Bitter:wght@300&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header>Cooking With Coding</header>
    {{{body}}}
    <footer>Brought to you by four people</footer>
  </body>
</html>