<div class="main-container col-9">

    <div class="account-info card">
        <div class="account-details card-header">
            Account details
        </div>
        <div class="card-body">
            <div class="view-username container-fluid my-2 p-2  d-flex justify-content-between">
                <span class="navbar-text">
                    Username:
                </span>
                <span class="navbar-text">
                    {{username}}
                </span>
            </div>
            <div class="view-email container-fluid my-4 p-2  d-flex justify-content-between">
                <span class="navbar-text">
                    Email: 
                </span>
                <span class="navbar-text">
                    {{email}}
                </span>
            </div>
        </div>
        <section class="recipe-container">
            {{userRecipes}}
        </section>
        
    </div>

    <script src="../public/profile.js"></script>
