<div class="row justify-content-evenly">

    {{#each recipe as |recipe|}}
    <div class="card text-bg-light m-3 recipes" style="width: 18rem; height: 12rem;">
        <img src="./assets/images/{{filename}}" class="card-img" alt="Recipe Photo for: {{name}}">
        <div class="card-img-overlay">
            <h5 class="card-title">{{name}}</h5>
        </div>
    </div>
    {{/each}}

</div>