<div class="format">
  {{!-- <section class="box-1">
    Recipies
    <section>
      <div>Image: {{image_url}}</div>
    </section>
    <section>
      <div>Image:</div>
      <div>Description:</div>
    </section>
  </section> --}}
  <div class="box-2">
    Featured Dish
    <section>
      <img class="food-image" src="{{image_url}}" style="width: 300px; height: 300px;">
      <div>Instruction: {{instructions}}</div>
    </section>
  </div>
</div>