<div class="login-page">
  <div class="login-box">
    <h2>Login:</h2>
    <div class="center">
      <textarea placeholder="Username" id="login-user"></textarea>
      <textarea placeholder="Password" id="login-password"></textarea>
      <button id="login-box">Submit</button>
    </div>
  </div>
  <div class="sign-up">
    <h2>Sign Up:</h2>
    <div class="center">
      <textarea placeholder="Username" id="username"></textarea>
      <textarea placeholder="Email" id="email"></textarea>
      <textarea placeholder="Password" id="password"></textarea>
      <button id="sign-up">Submit</button>
    </div>
  </div>
</div>

<script src="/login.js"></script>