<div class="center">Recipies title</div>
<div class="format">
  <section class="green">
    <section>Picture</section>
    <section class="down">
      <div>cook time:</div>
      <div>serves:</div>
      <div>includes:</div>
    </section>
  </section>
  <div class="black">
    <div>ingredients:</div>
    <div>list here</div>
  </div>
</div>
<div class="bottom-box">
  <div class="instruction">instructions:</div>
  <div class="instruction">instructions here</div>
</div>