:root{
    --arefTitle: 'Aref Ruqaa Ink', serif;
    --bitterText: 'Bitter', serif;
    --secondary: #6c757d;
    --blue: #5c97bf;
    --athensGray: rgba(239, 239, 240, 1);
    --pearlblush: #ede7e1;
}

*{
    font-family: var(--bitterText);
}

header {
    background-image: url(/assets/images/board4.PNG);
    font-size: 80px;
    font-family: var(--arefTitle);
    color: var(--white);
    text-align: center;
    height: 130px;
    background-size: cover;
    padding-top: 30px;
    background-color: aquamarine;
}

h2{
    margin: 40px;
    font-size: 40px;
}

.input-container {
    background-color: #ede7e1;
    margin: 10px;

}

.input-container h3 {
    margin: 30px;
}

.search-bar {
    margin-bottom: 60px;
}

.search-btn {
    background-color: var(--blue);
    color: black;
    font-weight: 600;
}

.course-btns {
    max-width: 60%;
    display: flex;
    margin: auto;
    margin-bottom: 30px;
}

.courses {
    background-color: var(--blue);
    border: 1px solid var(--secondary);
    color: black;
    font-weight: 600;
}

.recipe-container {
    padding: 30px;
    background-color: var(--pearlblush);
}

.recipes{
    max-width: 350px;
    overflow: scroll;
}

.card {
    background-color: var(--athensGray);
}

.card-title {
    background-color: #f3f1ef;
    padding: 3px;
    width: fit-content;
    color: black;
    background-size: cover;
}

.card-title:hover {
    background-color: #f4ede4;
}