:root {
  --brown: #3b1a07;
  --pastelGreen: #3c8842;
  --white: #ffffff;
  --heliotrope: #e866ec;
}
/* set content highlight color and background */
::selection {
  background-color: transparent;
  color: var(--white);
}
* {
  padding: 0;
  margin: 0;
  border: 0;
  font-family: "Aref Ruqaa Ink", "Courier New", Courier, monospace;
}
header {
  background-image: url(/assets/images/board4.PNG);
  font-size: 80px;
  color: var(--white);
  text-align: center;
  height: 130px;
  background-size: cover;
  padding-top: 30px;
}

footer {
  height: 60px;
  background-color: var(--brown);
  color: var(--white);
  text-align: center;
}
textarea {
  width: 180px;
  height: 35px;
  resize: none;
  font-size: 20px;
  margin: 5px;
}
.format {
  padding: 25px;
  display: flex;
  justify-content: space-between;
  height: 700px;
}
.green {
  display: flex;
  background-color: gray;
  width: 20%;
  margin: 5px;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
}
.black {
  display: flex;
  background-color: gray;
  width: 80%;
  margin: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.login-page {
  display: flex;
}
.login-box {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sign-up {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.center {
  display: flex;
  justify-content: center;
  flex-direction: column;
}